body {
    background-color: rgba(255, 0, 247, 0.389);
    text-align: center;
}
h1{
    font-style: italic;
    color:darkviolet;
}
h2{
    color:rgb(205, 137, 250)
    font-weight:200;
 }

.imagem{
    widthh:50%
}
.lista {
    text-align: right;
    color:rgba(5, 174, 253, 0.759)
}
.pizza {
    color:darkmagenta
}